.teamsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}



.teamWrapper {
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.teamContainer {
    display: flex;
    flex-direction: column;
}
.teamPreview {
    display: flex;
    align-items: center;
}

.teamImage {
    max-width: 60px;
}