.App {
  margin: 0 auto;
}

@media (max-width: 767px) {
  /* стили для xs-устройств */
  .App {
    max-width: 500px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  /* стили для sm-устройств */
  .App {
    max-width: 700px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
  .App {
    max-width: 800px;
  }
}

@media (min-width: 1200px) and (max-width: 2100px) {
  /* стили для lg-устройств */
  .App {
    max-width: 1100px;
  }
}

@media (min-width: 2100px) {
  /* стили для xs-устройств */
  .App {
    max-width: 1200px;
  }
}
